.res-container {
  width: 250px;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.res-card {
  width: 200; /* Use full width of the container */
  height: 300; /* Let the height adjust based on content */
  padding: 10px; /* Add some padding for better spacing */
  background-color: #fff; /* Optional: Add background */
  border: 1px solid #f0f0f0;
}

.res-card:hover {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
